//Colors
$brand-accent: #fc581f;
$brand-accent-a: #ffa065;

//Overrides
$primary: $brand-accent;
$card-bg: #2a2a2a;
$card-spacer-y: .5rem;
$card-spacer-x: .5rem;

@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Fira+Mono:wght@400;500;700&display=swap');

:root {
    --brand-accent-a: #{$brand-accent-a};

    --neutrals-900: #141414;
    --neutrals-800: #212121;
    --neutrals-700: #2A2A2A;
    --neutrals-600: #3D3D3D;
    --neutrals-500: #5B5B5B;
    --neutrals-400: #7A7A7A;
    --neutrals-300: #A8A8A8;
    --neutrals-200: #DBDBDB;
    --neutrals-100: #EBEBEB;
    --neutrals-050: #F5F4F4;
    --neutrals-025: #FAFAFA;
    --brand-accent: #FC581F;
    --brand-accent-2: #48CD9D;

    --text-day-primary: #2A2A2A;
    --text-day-secondary: #5B5B5B;
    --text-day-trietary: #7A7A7A;
    --text-day-quaternary: #A8A8A8;
    --borders-day-dark: #DBDBDB;
    --borders-day-middle: #EBEBEB;
    --borders-day-light: #F5F4F4;

    --text-night-primary: #EBEBEB;
    --text-night-secondary: #A8A8A8;
    --text-night-trietary: #7A7A7A;
    --text-night-quaternary: #5B5B5B;
    --borders-night-dark: #5B5B5B;
    --borders-night-middle: #3D3D3D;
    --borders-night-light: #2A2A2A;
}

// Elements Styles
body {
    color: var(--text-night-primary);
    background-color: var(--neutrals-800);
}

header {
    background-color: var(--neutrals-900);
    font-family: 'Fira Mono';
}

footer {
    background-color: var(--neutrals-900);
    font-family: 'Fira Mono';
}

p {
    margin: 0;
}

a {
    color: var(--brand-accent);
    text-decoration: none;
    transition: all 0.3s;
}

a:hover {
    color: var(--brand-accent-a);
}

// Navbar Style
.navbar-brand a {
    color: var(--text-night-primary);
}

.navbar-brand a:hover {
    color: var(--brand-accent);
}

.nav-link {
    color: var(--text-night-primary);
}

.nav-link:hover,
.nav-link:focus {
    color: var(--brand-accent);
}

// Card Styles
.card {
    flex: 1 1 0;
    margin: 3px;
    min-width: 300px;
    border-radius: 10px;
    border: 2px solid var(--neutrals-800);
    outline: var(--borders-night-dark) solid 2px;
    transition: all 0.3s;
}

.card h5 {
    margin: 0;
}

.card:hover {
    outline: var(--brand-accent) solid 2px;
}

.card.fake {
    visibility: hidden;
}

// Logo Style
.logo {
    display: block;
    margin: -5px;
    width: 40px;
    height: 40px;
}

.logo svg {
    width: 100%;
    height: 100%;
}

.logo svg,
.logo path {
    fill: var(--brand-accent) !important;
}

//Other Styles
.new {
    background: #f91a3f;
    border-radius: 4px;
    padding: 0px 5px;
    font-size: 0.8rem;
}