{
  "extends": [
    "@nuxt/eslint-config"
  ],
  "rules": {
    "@typescript-eslint/type-annotation-spacing": "warn",
    "quotes": "warn",
    "eol-last": "warn",
    "semi": "warn",
    "no-multiple-empty-lines": [
      "warn",
      {
        "max": 1
      }
    ],
    "padding-line-between-statements": [
      "warn",
      {
        "blankLine": "always",
        "prev": "*",
        "next": "function"
      }
    ],
    // Conflicts
    "vue/multi-word-component-names": "off",
    "no-use-before-define": "off",
    "space-before-function-paren": "off",
    "vue/max-attributes-per-line": "off"
  }
}