@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Fira+Mono:wght@400;500;700&display=swap');
@import url(https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css);

:root {
    --rr-text: #ebebeb;
    --rr_background: #151414;
    --rr_foreground_a: #7a7a7a;
    --rr_background_a: #292926;

    --rr-brand-a: #ffa065;
    --rr-brand: #FC581F;
    --rr-back: #212121;
}

header {
    background-color: var(--rr-back);
}

.navbar-brand {
    color: var(--rr-text);
}

.navbar-brand:hover {
    color: var(--rr-brand);
}

main {
    color: var(--rr-text);
    background-color: var(--rr_background);
}

footer {
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
    background-color: var(--rr-back);
    color: var(--rr_foreground_a);
    font-family: 'Fira Mono';
}

p {
    margin: 0;
}

a {
    color: var(--rr-brand);
    text-decoration: none;
    transition: all 0.3s;
}

a:hover {
    color: var(--rr-brand-a);
}

.new::after {
    content: "NEW";
    justify-self: center;
    background: #f91a3f;
    color: var(--rr-text);
    border-radius: 4px;
    padding: 0 5px;
    vertical-align: middle;
    font-size: 0.8rem;
}

.station {
    flex: 1 1 0;
    position: relative;
    padding: 5px 10px;
    margin: 3px;
    box-sizing: border-box;
    background-color: var(--rr_background_a);
    min-width: 350px;
    border-radius: 10px;
    border: 2px solid var(--rr_background);
    outline: var(--rr_foreground_a) solid 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.station.fake {
    visibility: hidden;
}

.image {
    position: absolute;
    top: 0px;
    right: 0px;
    /* bottom: 0px; */
    /* left: 0px; */
    width: 40px;
}

.streams {
    margin-top: 5px;
    display: flex;
    justify-content: center;
}

.streams>a {
    align-content: center;
    color: var(--rr_foreground_a);
    background-color: rgb(255 255 255 / 0.1);
    margin: 0 4px;
    padding: 0 10px;
    height: 25px;
    border-radius: 10px;
    line-height: 25px;
    font-size: 15px;
}

.streams>a:hover {
    color: var(--rr-text);
    background-color: var(--rr-brand);
}